<%- include('../partials/header') %>

<h1>My Scores</h1>
<div>
  <% score.forEach(function(s) { %>
  <br />
  <br />
  <%= s.notty %>
  <a href="/scores/<%= s._id %>"><button class="detail-btn">Details</button></a>
  <a href="/myscores/<%= s._id %>/edit"
    ><button class="edit-btn">Edit</button></a
  >
  <form action="/myscores/<%= s._id %>?_method=delete" method="POST">
    <button class="delete-btn">Delete</button>
  </form>
  <% }); %>
  <br />
</div>
<%- include('../partials/footer') %>
