<%- include('../partials/header') %>
<h1>Details</h1>

<section id="details-page">
  <br />
  <div>Name:</div>
  <div><%= score.name %></div>
  <br />
  <div>Composer:</div>
  <div><%= score.composer %></div>
  <br />
  <div>Key</div>
  <div><%= score.key %></div>
  <br />
  <div>Notty</div>
  <div><%= score.notty %></div>
  <br />
  <div>File:</div>
  <%= score.file %>
  <br />
</section>

<%-include('../partials/footer') %>
