<%- include('../partials/header') %>
<h1>Details</h1>
<div><%= score.name %></div>
<div><%= score.composer %></div>
<div><%= score.key %></div>
<div><%= score.notty %></div>
<%-include('../partials/footer') %>
