<%- include('../partials/header') %>
<h1>Details</h1>

<section id="details-page">
  <br />
  <div>Name:</div>
  <div><%= scores.name %></div>
  <br />
  <div>Composer:</div>
  <div><%= scores.composer %></div>
  <br />
  <div>Key</div>
  <div><%= scores.key %></div>
  <br />
  <div>Notty</div>
  <div><%= scores.notty %></div>
  <br />
  <div>File:</div>
  <%= scores.file %>
  <br />
</section>

<%-include('../partials/footer') %>
