<%- include('../partials/header') %>
<h1>Details</h1>

<section id="details-page">
  <br />
  <%= score.name %>
  <br />
  <%= score.composer %>
  <br />
  <%= score.key %>
  <br />
  <%= score.notty %>
  <br />
  <%= score.file %>
  <br />
</section>

<%-include('../partials/footer') %>
